<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="foo.droid"
          android:versionCode="1"
          android:versionName="1.0" >

  <uses-sdk android:minSdkVersion="15" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

  <permission android:name="foo.droid.permission.C2D_MESSAGE"
              android:protectionLevel="signature" />
  <uses-permission android:name="foo.droid.permission.C2D_MESSAGE" />

  <application
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name">
    <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
    <activity android:name=".SplashActivity"
              android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name='foo.droid.MAIN'/>
        <category android:name='android.intent.category.DEFAULT'/>
      </intent-filter>
    </activity>
    <!--
        WakefulBroadcastReceiver that will receive intents from GCM
        services and hand them to the custom IntentService.

        The com.google.android.c2dm.permission.SEND permission is necessary
        so only GCM services can send data messages for the app.
    -->
    <receiver
        android:name=".GcmBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
        <!-- Receives the actual messages. -->
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="foo.droid" />
      </intent-filter>
    </receiver>
    <service android:name=".GcmIntentService" />
  </application>

</manifest>
